.carrousel {
    /* display: flex; */
    align-items: center;
    margin: 7rem auto 2rem auto;
    overflow: hidden;
    position: relative;
    /* Esta propiedad es la que indica el tamaño del carrousel de la cual depende
    el script para pasar a la siguiente o retroseder una imagen */
    width: 90%;
    height: 300px;
    border-radius: 5px;
}

.carrousel .carrousel_images {
    position: absolute;
    display: flex;
    /* Propiedad que pasa a la siguiente imagen depende del tamaño del carrousel */
    left: 0;
    transition: all 0.5s;
    width: 500%;
    height: 100%;
    padding: 0;
}

.carrousel .carrousel_images .image {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carrousel .carrousel_images .i1 {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/05/07/02/torii-5889982_960_720.jpg');
}

.carrousel .carrousel_images .i2 {
    background-image: url('https://cdn.pixabay.com/photo/2015/03/28/16/40/lake-696098_960_720.jpg');
}

.carrousel .carrousel_images .i3 {
    background-image: url('https://cdn.pixabay.com/photo/2020/12/03/16/58/sunset-5801050_960_720.jpg');
}

.carrousel .carrousel_images .i4 {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/13/16/29/snow-5914604_960_720.jpg');
}

.carrousel .carrousel_images .i5 {
    background-image: url('https://cdn.pixabay.com/photo/2016/08/09/21/54/lake-1581879_960_720.jpg');
}

.carrousel .carrousel_button {
    background: white;
    border: 0;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.5;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
    outline: none;
}

.carrousel .carrousel_button:hover {
    opacity: 1;
}

.carrousel .previous {
    left: 5px;
    top: 50%;
}

.carrousel .next {
    right: 5px;
    top: 50%;
}