* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
* imagenes que van en el carrusel
*/

.carrousel .carrousel_images .i1 {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/05/07/02/torii-5889982_960_720.jpg');
}

.carrousel .carrousel_images .i2 {
    background-image: url('https://cdn.pixabay.com/photo/2015/03/28/16/40/lake-696098_960_720.jpg');
}

.carrousel .carrousel_images .i3 {
    background-image: url('https://cdn.pixabay.com/photo/2020/12/03/16/58/sunset-5801050_960_720.jpg');
}

.carrousel .carrousel_images .i4 {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/13/16/29/snow-5914604_960_720.jpg');
}

.carrousel .carrousel_images .i5 {
    background-image: url('https://cdn.pixabay.com/photo/2016/08/09/21/54/lake-1581879_960_720.jpg');
}

.carrousel .carrousel_images .i6 {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/05/07/02/torii-5889982_960_720.jpg');
}


/*estilos de las secciones*/

section {
    padding: 50px;
}

section .section-info {
    padding: 20px 0;
}